body, 
body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   
 
  color: #260707;
  /* background-image: url('/public/img/foto14.jpg'); */

}
  .logo {
    width: 20%;
  }



  :root {
  --color-primary: #c90f16;
  --color-grey: #f3f5f7;
  --color-dark: #060404;
}

@font-face {
  font-family: Roboto;
  src: url(../../fonts/Roboto/Roboto-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto/Roboto-Italic.ttf);
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto/Roboto-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto/Roboto-BoldItalic.ttf);
  font-weight: 700;
  font-style: italic;
}

body,
body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main > .container {
  padding-top: 10rem;
}

#app {
  display: flex;
  flex-direction: column;
}

img {
  width: 100%;
  object-fit: contain;
}

.bg-grey {
  background-color: var(--color-grey);
}
.bg-dark {
  background-color: var(--color-dark);
  color: #fff;
}
.bg-red {
  background-color: var(--color-primary);
}

.section-texts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
}
.section-texts.section-texts-center {
  align-items: center;
  text-align: center;
}
.section-tag {
  display: inline-block;
  font-size: 1.1rem;
  line-height: 1em;
  text-transform: capitalize;
  color: #c90f16;
  background-color: #fae7e8;
  padding: 0.5em 0.9em;
  border-radius: 0.3em;
}
.section-tag.section-tag-white {
  color: #fff;
  background-color: #222;
}
.section-title {
  font-size: 2.5rem;
}
.section-desc {
  font-size: 1.3rem;
  color: #777;
}


.dash1 {
  font-size: 1.5rem;
  color: #c90f16;
  font-weight: bold;
}

.bodyDash { 
background-color: #f1aeae;

}
.bodyPage { 

  background-color: #f1f1ce;
}
.logo1 { 

width: 30%;
border-radius: 4px;

}



#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;}

  .products { 
    margin-left: 5;
    display: flex;
    flex-direction: column;
    gap: 10px; 
    justify-content: center;
    padding: 20px;
    background-color: #fb5b5b;

  }
  .nav { 
    font-size: xx-large;
    
  }
  .button { 
padding: 2px;
background-color: #49a3d0;
border-radius: 0.3rem;

  }

  .title, .decription, .url, .category{ 
    display: flex;
    flex-direction: column;
    width: 20%;
    border-radius: 5px;
  } 


table.redTable {
  border: 2px solid #A40808;
  background-color: #EEE7DB;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}
table.redTable td, table.redTable th {
  border: 1px solid #AAAAAA;
  padding: 3px 2px;
}
table.redTable tbody td {
  font-size: 13px;
}
table.redTable tr:nth-child(even) {
  background: #F5C8BF;
}
table.redTable thead {
  background: #A40808;
}
table.redTable thead th {
  font-size: 19px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  border-left: 2px solid #A40808;
}
table.redTable thead th:first-child {
  border-left: none;
}

table.redTable tfoot {
  font-size: 13px;
  font-weight: bold;
  color: #FFFFFF;
  background: #A40808;
}
table.redTable tfoot td {
  font-size: 13px;
}
table.redTable tfoot .links {
  text-align: right;
}
table.redTable tfoot .links a{
  display: inline-block;
  background: #FFFFFF;
  color: #A40808;
  padding: 2px 8px;
  border-radius: 5px;
}

  
.bg-blue1 { 
  border-radius: 4px;
background-color: #fbf845;
width: 15%;
  

}

.bg-red1 { 
border-radius: 4px;
background-color: #c90f16;
font-style: var(--color-grey);
}
.displays-1 { 
  font-size: medium;
}